<a href = "/"><span class="back">↫ go home</span></a>
<h1>Admin</h1>

<% @queries.each  do |query| %>
  <p><%= query.text %> (<%=query.results.count %>x)</p>
  <% query.results.each do |result| %>
    <img src="<%= result.image_url %>">
    <% end %>
<% end %>
