<a href = "/"><span class="back">↫ go home</span></a>
<br>
<a href = "/roulette"><span class="back">↫ go back to giphy roulette</span></a>
<h1> <a href = "/queries"> PAST SEARCHES </a></h1>
<ul class="results">
	<% @queries.each do |query| %>
		<li><a href="/queries/<%= query.id %>"><%= query.text %> (<%=query.results.count %>x)</a></li>
	<% end %>
</ul>
