<%= erb 'roulette_header'.to_sym %>

<h2><a href= "/queries">Past Searches</a></h2>
<p>You searched for: <span class="label"> <%= @query.text %></span></p>
<% @query.results.each do |result| %>
	<img src="<%= result.image_url %>">
<% end %>
