<%= erb 'roulette_header'.to_sym %>

<h2><a href= "/queries">Past Searches</a></h2>
<p>You searched for: <span class="label"> <%= @query.text %></span> (<%=@query.results.count %>x)  </p>
<div class="bricklayer">
<% @query.results.each do |result| %>
	<img class="result-image" src="<%= result.image_url %>">
<% end %>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bricklayer/0.4.2/bricklayer.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/bricklayer/0.4.2/bricklayer.min.js"></script>
<script src="/javascripts/queries_index.js"></script>
