<html>
<head>
	<link href="/css/style.css" rel="stylesheet">
	<title>Hello World</title>
</head>
<body>
	<a href = "/"><span class="back">↫ go home</span></a>
	<h1> <a href = "/roulette"> GIPHY ROULETTE </a></h1>
	<form action="/search_giphy" method="post">
		<input placeholder="Enter a Topic" name="query" type="text" />
		<button>Search</button>
	</form>

	<p>You searched for: <span class="label"> <%= @query %></span></p>
	<img src="<%= @image_url %>">
</body>
</html>