<html>
<head>
	<link href="/css/style.css" rel="stylesheet">
	<title>Hello World</title>
</head>
<body>
	<h1>Giphy Roulette</h1>
	<form action="/search_giphy" method="post">
		<input placeholder="Enter a Topic" name="query" type="text" />
		<button>Search!</button>
	</form>

	<p>You searched for: <%= query %></p>
	<img src="<%= image_url %>">
</body>
</html>