<div class="home-page">
	<div class="home-page-image"></div>
	<div class="home-page-shade"></div>
	<div class="home-page-content">
		<h1 class="home-page-title">warm lake</h1>
		<div class="home-page-links">
			<a href ="/roulette">roulette</a>
			<a href ="/translate">translate</a>
		</div>
	</div>
</div>
<style>
	.home-page-image {
		background-image: url(<%= @image_url %>);
	}
</style>
