<div class="home-page">
	<div class="home-page-image"></div>
	<div class="home-page-shade"></div>
	<div class="home-page-content">
		<h1 class="home-page-title">warm lake</h1>
		<div class="home-page-links">
			<a href ="/roulette">roulette</a>
			<a href ="/translate">translate</a>
		</div>
	</div>
</div>
<script>
	window.homePageImageUrl = "<%= @image_url %>";
</script>
<script src="/javascripts/vibrant.min.js"></script>
<script src="/javascripts/home.js"></script>
