<html>
	<head> 
		<link href="/css/style.css" rel="stylesheet">
		<title>Hello World</title>
	</head>
	<body>
	<h1>Hello World!</h1>	
	<br>
	<center><span class = "link1"><a href ="/giphy">Giphy Roulette</a></span> 
	<h3>❋</h3>
	<span class = "link2"><a href ="/translate">Giphy Translate</a></span></center>
	</body>
</html>