<h1>Hello World!</h1>
<br>
<center>
	<span class = "link1"><a href ="/roulette">Giphy Roulette</a></span>
	<h3>❋</h3>
	<span class = "link2"><a href ="/translate">Giphy Translate</a></span>
</center>
