<html>
	<head>
		<link href="/css/style.css" rel="stylesheet">
		<title>Hello World</title>
		<link rel='shortcut icon' href='http://66.media.tumblr.com/tumblr_lm6qbgraH91qfoi4t.gif' type='image/x-icon'/ >
	</head>
	<body>
		<%= yield %>
	</body>
</html>
