	<a href = "/"><span class="back">↫ go home</span></a>
	<h1> <a href ="/translate">TRANSLATE </a> </h1>
	<form class="search-form" action="/translate_giphy" method="post">
		<input placeholder="Your Text Here" name="query" type="text" />
		<button class="search-button">Translate</button>
	</form>

	<p>
		<% @words.each do |word| %>
			<div class="translate-result">
				<div class="result-image-details">
					<p class="result-image-query-text"><%= word[:text] %></p>
				</div>
				<img src="<%= word[:image_url] %>" />
			</div>
		<% end %>
	</p>
