h1{
	color: black;
	text-align: center;
	text-decoration: underline;
	font-family: Futura;
}
h2{
	color: black;
	text-align: center;
	font-family: Futura;
	font-size: 11pt;
}
h3{
	color: black;
	text-align: center;
	font-family: Futura;
}
body{
	background: #e7ecf8;
}

.search-form {
	margin: 0 auto;
	width: 340px;
	font-family: Futura;
	display: flex;
}

input {
	width: 250px;
	padding: 11px 11px;
	border: solid;
	border-width: 3px;
	font-size: 20pt;
	border-radius: 5px;
	font-family: Futura;
	margin-right: 10px;
}

.search-button{
	width: 80px;
	height: 64px;
	font: 20pt;
	border: solid;
	border-width: 3px;
	font-size: 12pt;
	background: white;
	border-radius: 5px;
	font-family: Futura;
}

.label {
	font-style: italic;
	font-family: Futura;
}
p{
	margin: 50 auto;
	font-family: Futura;
}
a{
	font-family: Futura;
	color: black;
	text-decoration: none;
	color: inherit;
}
a:hover{
	text-decoration: underline;
}
.back{
	font-style: none;
	font-family: Futura;
}
.results{
	font-family: Futura;
	padding: 10px;
	margin: auto 40;
	list-style: none;
}

.result {
	position: relative;
	display: block;
	margin: 10px 0;
}

.result:hover .result-image-details {
	/*Something*/
	display: block;
}

.result-image-details {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.7;
	color: white;
	background: black;
}

.result-image-query-text{
  margin: 0.5vw 1vw;
	font-size: 4vw;
	overflow: hidden;
	text-overflow: ellipsis;
}

.delete-result-button {
	position: absolute;
	height: 30px;
	width: 30px;
	padding: 0;
	top: 10px;
	right: 10px;

	border: 3px solid black;
	border-radius: 50%;
	background-color: transparent;
	-webkit-filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.5));
	filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.5));

	font-size: 20px;
	line-height: 0;
	font-weight: 900;
}

.result-box {
	position: relative;
	display: inline-block;
	overflow: hidden;
}

.result-box-image {
	height: 200px;
}

.delete-query-button {
	display: none;
	height: 20px;
	width: 20px;
	padding: 0;

	border: 2px solid black;
	border-radius: 50%;
	background-color: transparent;

	font-size: 17px;
	line-height: 0;
	font-weight: 700;
}

.query-text:hover .delete-query-button{
	display: inline;
}

.no-results-text{
	font-size: 36px;
}

.result-image {
	width: 100%;
}


@media screen and (min-width: 768px) {
  .bricklayer-column-sizer {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .bricklayer-column-sizer {
    width: 33.3%;
  }
}
