<a href = "/"><span class="back">↫ go home</span></a>
<br>
<a href = "/roulette"><span class="back">↫ go back to giphy roulette</span></a>
<h1> <a href = "/results"> PAST SEARCHES </a></h1>
<ul class="results">
	<% @results.each do |result| %>
		<li><a href="/results/<%= result.id %>"><%= result.query %></a></li>
	<% end %>
</ul>
